@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Orbitron&display=swap');

:root {
	--color: #379c5a;
	--hover: #3cd070;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}
*, *::before, *::after {
	font-family: inherit;
	box-sizing: inherit;
}
body {
	height: 100vh;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 4rem;
	margin: 0 0 2rem 0;
	color: var(--hover);
	text-shadow: 0 0 1rem var(--color);
}